<div class="container">
  <div class="box col-10">
    <h2>Create a new subblog</h2>
    <br/>
    <h4>This will make you the moderator for this subblog. Remember that with great power comes great responsibility</h4>
    <%= simple_form_for @subblog, url: moderator_subblogs_path do |f|%>
      <%= f.input :name %>
      <br />
      <%= f.input :description %>
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <%end%>
  </div>
</div>
