<div class="container">
  <div class="box col-10">
    <%= simple_form_for @response, url: subblog_blog_comment_response_path do |f|%>
      <%= f.input :response_message, label: "Edit Your Reply", class: "edit-lable" %>
      <%= f.submit 'Post Edit', class: 'btn btn-primary make-it-green' %>
    <% end %>
  </div>
</div>

